<div class="col-xs-12 col-sm-12">
   <div class="row-fluid">
<% @comments.each do |comment| %>

       <p>

       <b><%= comment.user.try(:username) %></b>

       <br />

       <%= comment.content %>

       </p>

   <% end %>
</div>
</div>
