<div class="col-xs-12 col-sm-8">
   <div class="row-fluid">
           <div class="thumbnails">
             <div class="span3">

               <div class="thumbnail">
                 <div class="caption">
                  <h3><%= @article.title %></h3>
                   <%= @article.content %>
                   </div>
               </div>
             </div>
             </div>
     </div>
     </div>
<div id="form-comment">

       <%= render 'form' %>

   </div>
   <div class="col-xs-12 col-sm-8">
      <div class="row-fluid">
   <h4>Here the comments</h4>
</div>
</div>

   <div id="list-comments">

       <%= render 'comments' %>

   </div>
